{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
     {% if category %}
         {{ category.description|truncatewords:155 }}
     {% else %}
          welcome  to simora store
     {% endif %}
{% endblock %}
{% block title %}

  {% if category %}
         {{ category.name}} - Simora Store
     {% else %}
          see our new collection - Simora store
     {% endif %}
{% endblock %}
{% block content %}
{% if category %}
    <div>
        <div class="row row_class">
            <div class="mx-auto">


            <p><a href="{% url 'shops:allProdCat' %}">Our Product Collection</a></p>
        </div>
            </div>
    </div>
{% endif %}
<div class="mx-auto">
    {% if category %}
        <img class="my_image" src="{{ category.image.url }}" alt="{{category.name}}">
</div>
<br>
<div>
        <h1 class="text-center my_title" >{{category.name}}</h1>
        <p class="text-justify">{{category.description}}</p>
</div>
     {% else %}
        <div>
            <img class="my_image my_image_padding" src="{% static 'img/banner.png' %}" alt="our product" width="1350px;" height="400px;">
        </div>
        <br>
        <div>
            <h1 class="text-center my_title">Our products collection</h1>
            <p class="text-justify">The purpose of lorem ipsum is to create a natural looking block of text (sentence, paragraph, page, etc.) that doesn't distract from the layout. A practice not without controversy, laying out pages with meaningless filler text can be very useful when the focus is meant to be on design, not content.</p>

        </div>
    {% endif %}
<div class="container">
    <div class="row mx_auto">
        {% for product in products.object_list %}
        <div class=" col-sm-4 col-sm-4">
            <div class="card text-center" style="min-width:18rem;">
                <a href="{{product.get_url}}" ><img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}" width="200px;" height="200px;"> </a>
                <div class="card-body">
                    <h4>{{product.name}}</h4>
                    <p>{{product.price}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="mx-auto">
        {% if products.paginator.num_pages > 1 %}

        <hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
            <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <br>
</div>

{% endblock %}